.blog__list{
  display: grid;
  grid-template-columns: repeat(12, minmax(30px,97px));
  grid-auto-rows: 130px;
  list-style: none;
  padding: 100px 20px;
}

.blog__title{
  margin-top: 30px;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: $white-text;

  span{
    display: block;
  }
}

.blog__header{
  padding-left: 20px;
}

.blog__text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $gray-text;
  padding-right: 33px;
  padding-left: 10px;


}


.blog__item{
  position: relative;
  overflow: hidden;


  &:nth-child(1){
    grid-area: 1/9/3/13;
  }

  &:nth-child(2){
    grid-area: 1/1/4/9;
  }
  &:nth-child(3){
    grid-area: 4/1/6/6;
  }
  &:nth-child(4){
    grid-area: 4/6/6/9;
  }
  &:nth-child(5){
    grid-area: 3/9/6/13;
  }
  img{
    object-fit: cover;
    position: absolute;
    z-index: 0;
  }
}

.blog__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 5px solid transparent;
  width: 100%;
  height: 100%;
  padding: 25px;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: border-color;
  transition-duration: 500ms;

  &:hover{
    border: 5px solid $red;

    & .category-icon{
      background-color: $red;
    }
  }
  &.active{
    border: 5px solid $red;
  }

  .category-icon{
    position: relative;
    width: 41px;
    height: 41px;
    background-color: black;
    text-align: center;
    transition-property: background-color;
    transition-duration: 500ms;
    border-radius: 10px;

    svg{
      fill: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.blog__info-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: $white-text;
  text-transform: uppercase;
  margin-top: 0;
}

.blog__info-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $gray-text;
  text-transform: uppercase;

  &::after{
    display: block;
    margin-top: 25px;
    content: "";
    width:70px;
    height: 2px;
    background-color: $red;
  }
}

@media(max-width: 1200px){

  .blog__info-title{
    font-size: 20px;
  }

  .blog__info-text {
    font-size: 12px;
  }
}

@madia(max-width: 1000px){

  .blog__list{
    display: grid;
    grid-template-columns: repeat(12, minmax(30px,97px));
    grid-auto-rows: 130px;
    list-style: none;
    padding: 100px 20px;
  }

}
