.clients{
  height: 476px;
  background-color:$dark-bg;
}

.clients__wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.clients__header{
  text-align: center;
  max-width: 549px;
  margin-bottom: 30px;
}

.clients__title{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 30px;

  &::before{
    margin: 30px auto;
    text-align: center;
    display: block;
    content: "";
    background-color: $gray-2f;
    width: 70px;
    height: 2px;
  }
}

.clients__text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $dark-gray-text;
}

.clients__carousel{
}
.carousel__item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
