.edges__title{
  @include visually-hidden;
}

.edges__list{
  padding-top: 80px;
  padding-bottom: 80px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 30px;
  color: $gray-text;
}

.edges__item{
  margin: 15px 0;

  &:after{
    display: block;
    opacity: 0;
    content: "";
    width: 70px;
    height: 2px;
    background-color: $red;
    transition-duration: 200ms;
    transition-property: opacity;
    margin-top: 40px;
  }

  &:hover{
    & .edges__img{
      border-color: $red;
    }
    & .edges__svg{
      fill: $red;
    }
    & .edges__subtitle{
      color: $red;
    }
    & .edges__text{
      color: $white;
    }
    &::after{
      opacity: 1;
    }
  }
}

.edges__text{
  transition-duration: 200ms;
  transition-property: color;
}

.edges__img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  margin-bottom: 30px;
  border: 1px solid $gray-text;
  border-radius: 50%;
  transition-duration: 200ms;
  transition-property: border-color;
}

.edges__svg{
  fill: $gray-text;
  transition-duration: 200ms;
  transition-property: fill;
}

.edges__subtitle{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  transition-duration: 200ms;
  transition-property: color;
}

@media(max-width: 480px){
  .edges__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edges__text{
    width: 80%;
  }
}
