.skills{
  background-color: $red;
  margin-bottom: 1000px;
}
.skills__wrap{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skills__info{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 20px;
  max-width: 280px;
}

.skills__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: $white;
  text-transform: uppercase;

  &::before{
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    margin-bottom: 25px;
    background-color: $white;

  }
}

.skills__text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $white;
}

.skills__button{
  @include button($gray-bg);
  margin-top: 50px;
}

.progress__list{
  grid-column: span 2;
}

@media (max-width: 580px){
  .skills__wrap{
    display: flex;
    flex-direction: column;
  }
  .skills__info{
    padding: 10px;
  }
}

