
.works{
  background-color: $dark-bg;
}

.works__list{
  padding: 80px 0 160px 0;

  display: grid;
  list-style: none;
  grid-template-columns: repeat(12, minmax(30px,97px));
  grid-auto-rows: minmax(270px, auto);
}


.works__item{
  position: relative;
  overflow: hidden;

  img{
    object-fit: cover;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

.works__title{
  padding-left: 10px;
  margin-top:0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: $white-text;

  &::before{
    display: block;
    content: "";
    width: 70px;
    height: 2px;
    background-color: $dark-gray-text;
    margin-bottom: 30px;
  }

  span{
    display: block;
  }
}

.works__text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $gray-text;
  padding-right: 33px;
  padding-left: 10px;
}

.works__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid $red;
  transition-property: opacity;
  transition-duration: 500ms;

  &:hover{
    opacity: 1;
  }
  &.active{
    opacity: 1;
  }
}

.works__info-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: $white-text;
  text-transform: uppercase;
  padding-left: 20px;
}

.works__info-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $gray-text;
  text-transform: uppercase;
  padding-left: 20px;

  &::after{
    display: block;
    margin-top: 25px;
    content: "";
    width:70px;
    height: 2px;
    background-color: $red;
  }
}

.works__buttons-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-right: 40px;
}

.works__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 0;
  margin-left: 10px;
  background-color: $gray-bg;
  transition-duration: 500ms;
  transition-property: background-color;
  outline: none;

  &.active{
    background-color: $red;
  }
  &:hover{
    background-color: $red;
  }
  & svg{
  fill: $white;
  }
}

@media(max-width: 980px){
  .works__list{
    grid-template-columns: repeat(2, 1fr);
  }

  .col-3{ grid-column: span 1; }
  .col-4{ grid-column: span 1; }
  .col-5{ grid-column: span 1; }
  .col-6{ grid-column: span 1; }
}

@media(max-width: 768px) {
  .works__item:first-child{
    grid-column: 1 / -1;
  }
}

@media(max-width: 480px){
  .works__list{
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

