@charset "UTF-8";

/*
* main styles
 */

html{
  font-size: 16px;
  color: $black;
  background-color: $gray-bg;
}

body{
  font-family: "Roboto", "Arial", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container{
  @include min-max(320px, 100%, 0);
}

.wrap{
  @include min-max (320px, 1200px, 15px);
}

button{
  box-sizing: border-box;
  width: 170px;
  height: 54px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-right: 30px;
  color: $white;
  background-color: $gray-bg;
  border: 0;
}
